extends ./layout.jade

block sidebar
	.left-block
		figure
			img#qrcode(src=contact.wechat.qrcode)
		section.title
			h1= name
			h3= job_intension
		.radar
			canvas#radar(width="237" height="235")
		section#language
			h3= language.title
			each cert in language.certificate
				dl
					dt= cert.type
					dd
						.progress-bar(style="width: " + Math.floor(cert.score / cert.full * 100) + "%;")
							span= cert.score
			ul
				each des in language.description
					li= des

		section.hidden
			ul.contact
				li.mobile= contact.phone
				li.email= contact.email
				li.wechat= contact.wechat.id
				li.github= contact.github.url

		section#personal-information
			ul.contact
				li.mobile= contact.phone
				li.email= contact.email
				li.wechat= contact.wechat.id
				li.github= contact.github.url

	.right-block
		section#education
			h3= education.title
			ul
				each school in education.schools
					li
						dl
							dt= school.name
							dd.clock= school.start + " ~ " + school.end
							dd.major= school.major
							each honor in school.honors
								dd= honor
		section#experience
			h3= experience.title
			dl
				each work in experience.works
					dt= work.name
						if work.start
							span.time= work.start + " ~ " + work.end
					each des in work.description
						dd= des
		section#skill
			h3= skills.title
			dl
				each des in skills.description
					dd= des
